{% extends 'base/base.html' %}

{% block title %}
Informática

{% endblock %}


{% block content %}

<h1> Bienvendo aplicación de prueba</h1>

{% if rol == "super_administrator"%}

      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="Name" placeholder="name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">paternal_surname</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="Paternal_surname" placeholder="paternal_surname">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="Email" placeholder="email">
        </div>
      </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <input class="btn btn-default" onclick="create_customer()" type="submit" value="Ingresar">
        </div>
      </div>
{% endif %}

<br>
<br>

<h2>Table customers</h2>
<div id="tabla-contenedor">

                <table id="ipi-table" class="table table-striped table-borderless table tablesorter">
                     <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Paternal surname</th>
                            <th class="text-center">Email</th>
                            {% if rol == "super_administrator"%}
                            <th class="text-center">Acciones</th>
                            {% endif %}


                        </tr>
                    </thead>
 <tbody class="text-center" id="cuerpo">

{% if object_list %} {% for i in object_list %}
<tr>
        <td>{{i.pk}}</td>
        <td>{{i.name}}</td>
        <td>{{i.paternal_surname}}</td>
        <td>{{i.email}}</td>
        {% if rol == "super_administrator"%}

        <td>  
          <button onclick="abrir_modal({{i.pk}})" class="btn btn-primary btn-md">editar</button>

          <button onclick="eliminar_customer({{i.pk}})" class="btn btn-primary btn-md">eliminar</button>

        </td>
        {% endif %}


</tr>
{% endfor %} {% else %}
<h1>No hay registros</h1>
{% endif %}


</tbody>

</table>
</div>
<h2>Table customers_payments</h2>
<div id="tabla-contenedor">

                <table id="ipi-table" class="table table-striped table-borderless table tablesorter">
                     <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">amount</th>
                            <th class="text-center">customer_id</th>
                            <th class="text-center">product_name</th>
                            <th class="text-center">quantity</th>

                        </tr>
                    </thead>
 <tbody class="text-center" id="cuerpo2">

{% if object_list2 %} {% for i in object_list2 %}
<tr>
        <td>{{i.pk}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.customer_id}}</td>
        <td>{{i.product_name}}</td>
        <td>{{i.quantity}}</td>


</tr>
{% endfor %} {% else %}
<h1>No hay registros</h1>

{% endif %}

</tbody>

</table>



<div id="avisos2">
{% endblock %}