[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
django-filter = "*"
drf-yasg = "*"
factory-boy = "*"
faker = "*"
flake8 = "*"
pre-commit = "*"
psycopg2-binary = "*"
black = "*"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
