{% extends 'base.html' %}

{% block content %}
<div class="row mt-3">
  <div class="card">
    <div class="card-body">
      <h1>Delete confirm</h1>
      <form method="post" action="{% url 'customer-delete' object.pk %}">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        {{ form }}
        <a href="{% url 'customer-list' %}" type="button" class="btn btn-secondary">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Confirm">
      </form>
    </div>
  </div>
</div>

{% endblock content %}